Project_Proposal-1.pdf

csv/
.venv/
labour_report_all_csv_copy/
all_data/
labour_data_analysis_copy/

*.txt
*.pdf
*.zip

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.tex.bak

# Markdown files (member notes)
*.md

!requirements.txt
!current_latest_paper/*.pdf
!current_latest_paper/*.zip
!Kusal/*.pdf
!mercon/*.pdf
!mercon/*.zip
